.Map {
  position: relative;
  img {
    width: 100%;
  }

  .zone {
    position: absolute;
    cursor:pointer;
    .zoneTitle {
      color: #fff;
      display: none;
      text-align: center;
      position: absolute;
      top: 33%;
      width: 100%;
    }
    .zoneHighlight {
      height:100%;
      width: 100%;
      border-radius: 30px;
      opacity: 0.25;
      box-shadow: 0 0 10px 5px #fff;
    }
    &.selected .zoneHighlight,
    &:hover .zoneHighlight {
      opacity: 0.25;
      background-color: #fff;
      box-shadow: 0 0 10px 5px #fff;
    }
    &.selected .zoneTitle,
    &:hover .zoneTitle {
      display: block;
    }
  }
  #Mainland {
    width: 13%;
    left: 50%;
    height: 19%;
    top: 32%;
  }

  #Urthu {
    width: 11%;
    right: 2%;
    height: 13%;
    top: 51%;
  }
}