.Map {
  position: relative;
  img {
    width: 100%;
  }

  .zone {
    position: absolute;
    border-radius: 30px;
    &:hover {
      background-color: #fff;
      opacity: 0.2;
      box-shadow: 0 0 10px 5px #fff;
    }
  }
  #Mainland {
    width: 10%;
    left: 52%;
    height: 13%;
    top: 35%;
  }

  #Urthu {
    width: 8%;
    right: 3%;
    height: 10%;
    top: 52%;
  }
}